<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="./styleCarte.css">
    <link rel="stylesheet" href="./leaflet.awesome-markers.css">
</head>
<body>
    <div id="map"></div>


</body>
</html>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="./CarteDynamisme.js"></script>
<script src="./leaflet.awesome-markers.js"></script>